$hero-color: #fff;
$text-highlight-color: rgba(0, 0, 0, 0.3);

.hero {
    align-items: center;
    color: $hero-color;
    display: flex;
    height: 100vh;
    justify-content: center;
    text-align: center;
}

h1 {
    line-height: 1.3em;
}

.btn-ghost {
    background-color: transparent;
    border-color: $hero-color;
    border-width: 2px;
    margin: 50px 0;

    :active {
        background-color: transparent;
        color: $hero-color;
    }

    :focus {
        background-color: transparent;
        color: $hero-color;
    }
}

.text-highlight {
    background-color: $text-highlight-color;
    margin: 100px 0;
    padding: 0 10px;
    z-index: -1;
}

.mouse {
    margin-top: 100px;
    position: relative;
}
