.jumbotron-video-bg {
    height: auto;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: auto;
    z-index: -10;
}

.jumbotron-picture-bg {
    background-image: url('/assets/backdrop/london_night.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -100;
}
