<div class="footer">
    <div class="skyline"></div>

    <div class="container">
        <div class="row">
            <div class="col-lg-3 text-xs-center text-lg-left">
                <img class="img-fluid hidden-md-down" src="./assets/logos/qm-logo-large.png" />
                <p class="logo-text">Queen Mary Trading and Investment Society.</p>
                <p class="logo-description">Registered as a non-profit society under the Queen Mary Student Union (QMSU).</p>
                <div class="social-icons">
                    <a href="https://www.facebook.com/qmtis" class="social-icon" target="_blank">
                        <i class="fa fa-facebook fa-inverse fa-2x"></i>
                    </a>
                    <a href="https://www.twitter.com/qmtis" class="social-icon" target="_blank">
                        <i class="fa fa-twitter fa-inverse fa-2x"></i>
                    </a>
                    <a href="https://www.linkedin.com/company/qmtis" class="social-icon" target="_blank">
                        <i class="fa fa-linkedin fa-inverse fa-2x"></i>
                    </a>
                    <a href="https://github.com/dolanmiu/qmtis-website" class="social-icon" target="_blank">
                        <i class="fa fa-github fa-inverse fa-2x"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-3">
                <h2 class="footer-heading text-xs-center text-lg-left">Contact Us</h2>
                <hr />
                <p class="text-xs-center text-lg-left"><i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>Mile End Rd, London E1 4NS</p>
                <p class="text-xs-center text-lg-left"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i><a href="mailto:enquiries@qmtis.com" target="_top">enquiries@qmtis.com</a></p>
                <p class="text-xs-center text-lg-left"><i class="fa fa-comments fa-fw" aria-hidden="true"></i><a class="message-us" href="http://m.me/qmtis" target="_blank">Message us directly!</a></p>
                <p class="text-xs-center text-lg-left"><i class="fa fa-globe fa-fw" aria-hidden="true"></i><a class="message-us" href="https://www.qmsu.org/groups/investment" target="_blank">Union website</a></p>
                <p class="text-xs-center text-lg-left"><i class="fa fa-newspaper-o fa-fw" aria-hidden="true"></i><a class="message-us" href="https://docs.google.com/forms/d/e/1FAIpQLSftZN92EQUnL8Ux03MKdUmQeek-RFSNNY2XXhpStPvxz7Q4CQ/viewform" target="_blank">Sign up to our newsletter</a></p>
            </div>

            <div class="col-lg-6 hidden-md-down">
                <h2 class="footer-heading">Latest Photos</h2>
                <hr />
                <div class="row">
                    <app-fb-photo *ngFor="let photo of photos" class="col-lg-4" [fbuid]="photo.id"></app-fb-photo>
                </div>
            </div>
        </div>

        <hr />
        <div class="clearfix">
            <div class="pull-lg-left company-details text-xs-center text-lg-left">
                <i class="fa fa-copyright" aria-hidden="true"></i> {{year}} Copyright, Queen Mary Trading & Investment Society</div>
            <div class="pull-lg-right company-details">
                <p class="text-lg-right text-xs-center">
                    Registered Charity No.1147786<br /> Company Limited by Guarantee, Company No. 8092471 QMSU Services Limited<br /> Company No. 6677304<br /> Group VAT Registration No. 143 7775 88<br />
                </p>
            </div>
        </div>
    </div>
</div>
