<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                Queen Mary Trading and Investment Society Registered as a non-profit society under the Queen Mary Student Union (QMSU).
                <div>
                    <a href="https://www.facebook.com/qmtis" class="social-icon" target="_blank">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a href="https://www.facebook.com/qmtis" class="social-icon" target="_blank">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a href="https://www.facebook.com/qmtis" class="social-icon" target="_blank">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a href="https://www.facebook.com/qmtis" class="social-icon" target="_blank">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                Registered Charity No.1147786 | Company Limited by Guarantee, Company No. 8092471 QMSU Services Limited | Company No. 6677304 | Group VAT Registration No. 143 7775 88 Queen Mary Trading and Investment Society 2015.
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">

            </div>
        </div>

    </div>
</div>