<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img class="img-fluid" src="./assets/logos/qm-logo-large.png" />
                <p class="logo-text">Queen Mary Trading and Investment Society Registered as a non-profit society under the Queen Mary Student Union (QMSU).</p>
                <div>
                    <a href="https://www.facebook.com/qmtis" class="social-icon" target="_blank">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a href="https://www.twitter.com/qmtis" class="social-icon" target="_blank">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a href="https://www.linkedin.com/company/qmtis" class="social-icon" target="_blank">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a href="https://github.com/dolanmiu/qmtis-website" class="social-icon" target="_blank">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </div>
            </div>

            <div class="col-md-3">
                <h2>Contact Us</h2>
                <p>asdfads</p>
                <a class="btn btn-primary btn-md" a href="http://m.me/qmtis" target="_blank">Contact Us</a>
            </div>

            <div class="col-md-6">
                <h2>Latest Photos</h2>
                <div class="row">
                    <app-fb-photo *ngFor="let photo of photos" class="col-md-4" [fbuid]="photo.id"></app-fb-photo>
                </div>
            </div>
        </div>

        <hr />
        <div class="clearfix">
            <div class="pull-md-left company-details">
                <i class="fa fa-copyright" aria-hidden="true"></i> {{year}} Copyright, Queen Mary Trading & Investment Society</div>
            <div class="pull-md-right company-details">
                <p class="text-md-right">
                    Registered Charity No.1147786<br /> Company Limited by Guarantee, Company No. 8092471 QMSU Services Limited<br /> Company No. 6677304<br /> Group VAT Registration No. 143 7775 88<br />
                </p>
            </div>
        </div>
    </div>
</div>