p {
    font-size: 0.8em;
}

.footer {
    background-color: #104464;
    color: #F2F2F2;
}

.social-icon {
    margin-right: 5px;
    margin-left: 5px;
}

.company-details {
    color: rgba(173, 173, 173, 0.81);
    font-size: 0.8em;
}

.logo-text {
    margin-top: 10px;
    font-size: 0.9em;
    font-weight: bold;
}

.logo-description {
    font-size: 0.8em;
    font-weight: lighter;
}

.footer-heading {
    font-size: 1.2em;
    font-weight: 100;
}

.message-us {
    color: white;
    text-decoration: underline dotted white;
}

.skyline {
    position: absolute;
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%);
    background-image: url("./assets/skyline.png");
    background-repeat: repeat-x;
    right: 0;
    left: 0;
    height: 134px;
}

.fa-fw {
    margin-right: 10px;
}

.social-icons {
    margin-bottom: 30px;
}