$message-us-color: #fff;
$company-details-color: rgba(173, 173, 173, 0.81);
$footer-bg-color: #104464;
$footer-text-color: #f2f2f2;
$facebook-color: #3b5998;
$twitter-color: #00aced;
$linkedin-color: #4875b4;
$github-color: #333;

p {
    font-size: 0.8em;
}

.footer {
    background-color: $footer-bg-color;
    color: $footer-text-color;
}

.social-icon {
    margin-left: 5px;
    margin-right: 5px;

    .fa-facebook {
        &:hover {
            color: $facebook-color;
        }
    }

    .fa-twitter {
        &:hover {
            color: $twitter-color;
        }
    }

    .fa-linkedin {
        &:hover {
            color: $linkedin-color;
        }
    }

    .fa-github {
        &:hover {
            color: $github-color;
        }
    }
}

.company-details {
    color: $company-details-color;
    font-size: 0.8em;
}

.logo-text {
    font-size: 0.9em;
    font-weight: bold;
    margin-top: 10px;
}

.logo-description {
    font-size: 0.8em;
    font-weight: lighter;
}

.footer-heading {
    font-size: 1.2em;
    font-weight: 100;
}

.message-us {
    color: $message-us-color;
    text-decoration: underline dotted $message-us-color;
}

.skyline {
    background-image: url('/assets/skyline.png');
    background-repeat: repeat-x;
    height: 134px;
    left: 0;
    position: absolute;
    right: 0;
    transform: translate(0, -100%);
}

.fa-fw {
    margin-right: 10px;
}

.social-icons {
    margin-bottom: 30px;
}
