.footer {
    background-color: #104464;
    padding-top: 50px;
    color: #F2F2F2;
}

.social-icon {
    margin-right: 10px;
}

.company-details {
    color: rgba(173, 173, 173, 0.81);
    font-size: 0.8em;
}

.img-crop {
    position: absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    width: auto;
    height: auto;
}

.img-container {
    height: 200px;
    overflow: hidden;
}

.logo-text {
    margin-top: 10px;
    font-size: 0.8em;
}