$host-color: #fff;
$text-highlight-bg-color: rgba(0, 0, 0, .3);

:host {
    align-items: center;
    color: $host-color;
    display: flex;
    height: 50vh;
    justify-content: center;
    text-align: center;
}

h1 {
    line-height: 1.3em;
}

.text-highlight {
    background-color: $text-highlight-bg-color;
    margin: 100px 0;
    padding: 0 10px;
    z-index: -1;
}
