<section id="about" class="section-light">
    <div class="container">
        <h1>About Us</h1>
        <p>Actively trade real currency on markets using online platforms. We also maintain paper books, to experiment with innovative trading strategies We educate members on the knowledge required for them to trade and execute orders profitably using appropriate
            tools and analysis Assistance with CV writing as well as interview preparation. Alumni have gone to work in multinational investment banks, hedge funds, brokerage firms and start-ups</p>
    </div>
</section>