<section id="about" class="section-dark">
    <div class="container">
        <div class="row flex-container">
            <div class="col-lg-5 hidden-md-down">
                <div class="about-background">
                    <img src="assets/about/background.jpg" />
                </div>
            </div>
            <div class="col-lg-7">
                <div class="about-card pull-right">
                    <h1>About Us</h1>
                    <p>Actively trade real currency on markets using online platforms. We also maintain paper books, to experiment with innovative trading strategies We educate members on the knowledge required for them to trade and execute orders profitably
                        using appropriate tools and analysis Assistance with CV writing as well as interview preparation. Alumni have gone to work in multinational investment banks, hedge funds, brokerage firms and start-ups</p>
                </div>
            </div>
        </div>

    </div>
</section>