<section id="intro" class="section-light">
    <div class="container">
        <h1>Introduction</h1>
        <p>Interested in Trading?
 
Join the society now to benefit from our weekly sessions that will prepare you with the skills and knowledge in learning how the markets operate and what it takes to execute profitable trades.
 
We invite talented individuals from any discipline who have an interest in learning more about trading and investing to sign up.
 
Individuals who would like to enter the industry, boost their confidence and better prepare themselves for internship and job interviews are also advised to join.</p>

<p>
    Join the Society now and benefit from..
Access to all QMTIS sessions, where you will be able to learn how the markets work, signal recognition and understanding technical analyses
Access to society social events
Priveleged access to QMTIS Alumni Network
Benefit from guest speakers and professionals
Networking oppurtunities with industry professionals
Possibility to join 1:1 mentorship programme
</p>
    </div>
</section>