<!--<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="#">Brand</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul *ngFor="let link of links" class="nav navbar-nav navbar-right">
                <li><a href="{{link.route}}">{{link.text}}</a></li>
            </ul>
        </div>
    </div>
</nav>-->
<nav id="navbar" class="navbar navbar-full bg-faded navbar-dark bg-inverse navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Brand</a>
        <ul class="nav navbar-nav pull-xs-right">
            <li *ngFor="let link of links" class="nav-item">
                <a class="nav-link" href="{{link.route}}">{{link.text}}</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-success" href="https://www.qmsu.org/groups/investment/" role="button" target="_blank">Sign Up</a>
            </li>
        </ul>
    </div>
</nav>