nav {
    transition: background-color 0.5s, height 0.5s, padding 0.5s;
    transition-timing-function: ease-out;
}

div {
    transition-timing-function: ease-out;
}

.active {
    border-bottom: 3px solid #2B99DD;
    box-sizing: border-box;
    margin-bottom: -3px;
}

.unscrolled-nav {
    background-color: transparent;
    height: 100px;
    padding-top: 30px;
    a {
        color: white;
        transition: color 0.5s;
    }
}

.nav-padding {
    padding: 10px 0;
}