<nav id="navbar" class="navbar navbar-full bg-faded navbar-fixed-top" [ngClass]="{'unscrolled-nav': !scrolled, 'navbar-dark': scrolled, 'bg-inverse ': scrolled}">
    <div class="container" [ngClass]="{'nav-middle': scrolled}">
        <div class="">
            <a class="navbar-brand" href="#"><img src="./assets/qm-logo.png" /></a>
            <ul class="nav navbar-nav pull-xs-right">
                <li *ngFor="let link of links" class="nav-item">
                    <a class="nav-link" href="{{link.route}}">{{link.text}}</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-success" href="https://www.qmsu.org/groups/investment/" role="button" target="_blank">Sign Up</a>
                </li>
            </ul>
        </div>
    </div>
</nav>