<section id="join" class="section-light">
    <div class="container">
        <h1>Join Us</h1>
        <div class="row">
            <div class="col-lg-7">
                <p>
                    Interested in learning more about Trading? Want to explore areas such as Asset Management, Investment Banking, Private Equity or learn how Blockchain and AI &amp; Machine Learning is changing the finance industry?
                </p>
                <p>
                    Join the society now to benefit from our weekly sessions that will prepare you with the skills and knowledge to launch your career in the financial services industry. We invite talented individuals from any discipline who have an interest in learning more about financial markets to sign up.

                </p>
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-check"></i>Access to all trading learning & development sessions throughout the year, inclusive of workshops held by external speakers and firms.</li>
                    <li><i class="fa-li fa fa-check"></i>Access to exclusive society social events, networking opportunities, both on and off campus
                    </li>
                    <li><i class="fa-li fa fa-check"></i>Access to our QMTIS Alumni Network, giving yourself the opportunity to gain further insight into financial markets.</li>
                    <li><i class="fa-li fa fa-check"></i>Boost your confidence and better prepare yourself for internships and job interviews.</li>
                </ul>
                <p><a class="btn btn-primary btn-lg" href="https://www.qmsu.org/groups/investment/" role="button" target="_blank">Sign Up Now</a></p>
                <p><small>Only available to full-time students of Queen Mary, University of London.</small></p>
            </div>
            <div class="col-lg-5 hidden-md-down">
                <div class="fb-page" data-href="https://www.facebook.com/qmtis" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true" data-width="445">
                    <blockquote cite="https://www.facebook.com/qmtis" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/qmtis">Queen Mary Trading &amp; Investment Society</a></blockquote>
                </div>
            </div>
        </div>
    </div>
</section>