<section id="join" class="section-light">
    <div class="container">
        <h1>Join Us</h1>
        <div class="row">
            <div class="col-md-7">
                <p>Membership for the 2015/16 academic year is only GBP 10.00. Use the below link to register (only available to full-time students of Queen Mary, University of London). Membership entitles you access to all trading learning & development
                    sessions throughout the year, inclusive of workshops held by external speakers and firms. It also entitles you access to exclusive society social events, networking opportunities, both on and off campus. It will give you privileged
                    access to our QMTIS Alumni Network, giving yourself the opportunity to gain further insight into financial markets.</p>
                <p><a class="btn btn-primary btn-lg" href="https://www.qmsu.org/groups/investment/" role="button" target="_blank">Sign Up Now</a></p>
            </div>
            <div class="col-md-5">
                <div class="fb-page" data-href="https://www.facebook.com/qmtis" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true" data-width="445">
                    <blockquote cite="https://www.facebook.com/qmtis" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/qmtis">Queen Mary Trading &amp; Investment Society</a></blockquote>
                </div>
            </div>
        </div>
    </div>
</section>