$drop-shadow-color: #e8e8e8;
$drop-shadow-hover-color: #ccc;
$active-color: #0275d8;

.drop-shadow {
    box-shadow: 0 0 20px $drop-shadow-color;
    transition: box-shadow .2s;

    &:hover {
        box-shadow: 0 0 30px $drop-shadow-hover-color;
    }
}

.card {
    transition: transform .2s;

    &:hover {
        cursor: pointer;
        transform: scale(1.02);
    }
}

.active {
    border-bottom: 3px solid $active-color;
    box-sizing: border-box;
}
