<section id="committee" class="section-light">
    <div class="container">
        <h1>Committee<small class="text-muted"> of {{year}}/{{year + 1}}</small></h1>
        <div class="row">
            <div class="col-sm-4">
                <div *ngFor="let member of members" class="card">
                    <img class="card-img-top img-fluid" [src]="member.photoUrl" [alt]="member.name">
                    <div class="card-block">
                        <h4 class="card-title">{{member.name}}</h4>
                        <a [href]="member.facebook" target="_blank"><i class="fa fa-facebook social-icon"></i></a>
                        <a [href]="member.linkedIn" target="_blank"><i class="fa fa-linkedin social-icon"></i></a>
                        <p class="card-text">{{member.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>