<section id="committee" class="section-light">
    <div class="container">
        <h1>Committee<small class="text-muted"> of {{year}}/{{year + 1}}</small></h1>
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div *ngFor="let member of members">{{member}}</div>
            <div class="col-sm-4">
                One of three columns
            </div>
            <div class="col-sm-4">
                One of three columns
            </div>
        </div>
    </div>
</section>