<div class="card drop-shadow" [class.active]="active">
    <div class="card-block">
        <div class="clearfix">
            <div class="row">
                <div class="col-xs-6 text-xs-left">
                    <p [hidden]="!active"><i class="fa fa-arrow-up hidden-lg-up" aria-hidden="true"></i><i class="fa fa-arrow-left hidden-md-down" aria-hidden="true"></i></p>
                </div>

                <div class="col-xs-6 text-xs-right">
                    <p>{{date | date: 'dd/MM/yyyy'}}</p>
                </div>
            </div>
        </div>
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">{{description | cut: 150}}</p>

    </div>
</div>