<section id="committee" class="section-light">
    <div class="container">
        <h1>Committee</h1>
        <p class="lead">{{year}}/{{year + 1}}</p>
        <div class="row" *ngIf="members$ | async; let members">
            <div *ngFor="let member of members" class="col-md-4 col-lg-3 col-sm-6">
                <div class="card">
                    <div class="photo">
                        <img class="card-img-top img-fluid hidden-sm-down" src="./assets/committee/{{member.photoUrl}}" [alt]="member.name">
                    </div>
                    <div class="card-block">
                        <h4 class="card-title">{{member.name}}</h4>
                        <p class="lead lead-role">{{member.position}}</p>
                        <a [href]="member.facebook" target="_blank" *ngIf="member.facebook"><i class="fa fa-facebook social-icon"></i></a>
                        <a [href]="member.linkedIn" target="_blank" *ngIf="member.linkedIn"><i class="fa fa-linkedin social-icon"></i></a>
                        <small><a href="/committee?member={{member.slug}}">Read More</a></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
