$lead-role-color: #b7b7b7;

.social-icon {
    margin-right: 10px;
}

.lead-role {
    color: $lead-role-color;
    font-size: 1rem;
    margin-bottom: 0;
}

h4 {
    margin-bottom: 0;
}

.card-block {
    height: 140px;
}

.photo {
    filter: grayscale(100%);
    height: 230px;
    overflow: hidden;
    transition: filter .5s;

    img {
        height: 230px;
        object-fit: cover;
        width: 256px;
    }

    &:hover {
        filter: grayscale(0%);
    }
}

@media (max-width: 543px) {
    .card {
        border: 0;
        display: flex;
        height: 100px;
        overflow: hidden;

        h4 {
            font-size: 1.1em;
            line-height: 2em;
        }

        p {
            font-size: .8em;
        }

        .card-block {
            height: initial;
            padding: 10px 0 0 10px;
        }

        .photo {
            height: 100%;

            img {
                border-radius: 0;
                height: 100px;
                width: 100px;
            }
        }
    }
}
