.social-icon {
    margin-right: 10px;
}

.lead-role {
    color: #B7B7B7;
    margin-bottom: 0;
    font-size: 1rem;
}

h4 {
    margin-bottom: 0;
}

.card-block {
    height: 140px;
}

.photo {
    filter: grayscale(100%);
    height: 230px;
    overflow: hidden;
}
