$shadow-color: rgba(0, 0, 0, 0.1);
$bg-color: #fff;

.about-card {
    background-color: $bg-color;
    box-shadow: 0 0 30px $shadow-color;
    padding: 20px;
}

@media (min-width: 768px) {
    .about-card {
        padding: 100px 82px;
    }
}

.overflow-box {
    margin-left: -200px;
    position: relative;
    z-index: 10;
}

.about-background {
    overflow: hidden;
    width: 500px;
}

.about-hover {
    position: absolute;
}

.flex-container {
    align-items: center;
    display: flex;
}
