<section id="about" class="section-dark">
    <div class="container">
        <div class="row flex-container">
            <div class="col-lg-5 hidden-md-down">
                <div class="about-background">
                    <img src="assets/about/background.jpg" />
                </div>
            </div>
            <div class="col-lg-7">
                <div class="about-card pull-right">
                    <h1>About Us</h1>
                    <p>
                        Established in 2009, QMTIS was founded with the objective to provide a solid platform for ambitious students to
                        learn and network. With over 300 members and 25 events per year QMTIS is the most subscribed and active
                        finance-related society at Queen Mary University of London. We are both events and project-driven. We host weekly
                        events including guest speakers from the financial services industry, CV and Cover Letter workshops as well as
                        Trading Challenges.
                    </p>
                    <p>
                        Our various sub-divisions such as Investments, Trading, Macro Research and Technology meet up weekly as well to
                        conduct and write research or work on group projects such as M&amp;A models or our own
                        <a href="https://qmtistrader.com/" target="_blank">Trading Simulator</a>.
                    </p>
                    <p>
                        Alumni have gone to work in multinational investment banks, hedge funds, brokerage firms and start-ups.
                    </p>
                    <blockquote class="blockquote blockquote-reverse">
                        <p class="m-b-0">
                            Great experience gained, opportunity to work with many finance enthusiasts. Developed good trading strategies on
                            a real fund.
                        </p>
                        <footer class="blockquote-footer">
                            Anonymous at
                            <cite title="Source Title"
                                ><a
                                    href="https://www.glassdoor.co.uk/Reviews/Employee-Review-Queen-Mary-Trading-and-Investment-Society-RVW8672709.htm"
                                    target="_blank"
                                    >Glassdoor</a
                                ></cite
                            >
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</section>
