<section id="about" class="section-dark">
    <div class="container">
        <div class="row flex-container">
            <div class="col-lg-5 hidden-md-down">
                <div class="about-background">
                    <img src="assets/about/background.jpg" />
                </div>
            </div>
            <div class="col-lg-7">
                <div class="about-card pull-right">
                    <h1>About Us</h1>
                    <p>QMTIS actively trade real currency on markets using online platforms. We also maintain paper books, to experiment with innovative trading strategies. Members are important, we educate members on the knowledge required for them to trade
                        and execute orders profitably using appropriate tools and analysis.</p>
                    <p>We Assist with CV writing as well as interview preparation. Alumni have gone to work in multinational investment banks, hedge funds, brokerage firms and start-ups.</p>
                    <blockquote class="blockquote blockquote-reverse">
                        <p class="m-b-0">Great experience gained, opportunity to work with many finance enthusiasts. Developed good trading strategies on a real fund.</p>
                        <footer class="blockquote-footer">Anonymous at <cite title="Source Title"><a href="https://www.glassdoor.co.uk/Reviews/Employee-Review-Queen-Mary-Trading-and-Investment-Society-RVW8672709.htm" target="_blank">Glassdoor</a></cite></footer>
                    </blockquote>
                </div>
            </div>
        </div>

    </div>
</section>