.title {
    display: inline-block;
    height: 100%;
    width: 70%;
}

.icon {
    display: inline-block;
    height: 100%;
    width: 20%;
}

.heading {
    height: 50px;
    width: 100%;
}

.description {
    display: block;
    padding-top: 20px;
}

.body {
    height: 60px;
    margin: 15px 0;
    padding-bottom: 10px;
}
